<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--当我们的mapper接口和mapper.xml文件关联时，命名空间namspace的值就需要配置成
接口的全限定名称，将来我们通过mapper接口的方法名来调用sql语句-->
<mapper namespace="com.jxd.follow_sys.mapper.IJobEvlOptionMapper">
    <!--根据deptName查询计数-->
    <select id="getTotalNumByLike" resultType="int">
        select count(*) from job_evl_option
        <where>
            <if test="optionName!= 'all'">
                optionName like concat('%',#{optionName},'%')
            </if>
            <if test="optionId!= 'all'">
                and optionId = ${optionId}
            </if>
        </where>
    </select>

    <!--根据deptName查询分页列表-->
    <select id="getPageListByLike" resultType="map">
        select optionId,optionName from job_evl_option
        <where>
            optionState = 1
            <if test="optionName != 'all'">
                and optionName like concat('%',#{optionName},'%')
            </if>
            <if test="optionId!= 'all'">
               and optionId = ${optionId}
            </if>
        </where>
        order by optionId
        limit #{counts},#{pagesize}
    </select>

<!--根据dept实体类更新-->
    <update id="update">
        update job_evl_option set optionName=#{optionName} where optionId=#{optionId}
    </update>

<!--根据id删除-->
    <delete id="deleteById">
        delete from job_evl_option where optionId=#{optionId}
    </delete>

    <!--根据id假删，设flag=0-->
    <update id="deleteByIdFake">
        update job_evl_option set optionState=0  where optionId=#{optionId}
    </update>

    <!--根据ids假删，设置flag为-1-->
    <update id="batchDeleteByIds">
        update job_evl_option set optionState = 0 where optionId in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <!--根据dept实体类添加-->
    <insert id="add">
        insert into job_evl_option(optionId,optionName) values (#{optionId},#{optionName})
    </insert>


    <!--用于新增，查询名字是否存在，避免重复-->
    <select id="checkAddName" resultType="int">
        select count(*) from job_evl_option where optionName = #{optionName}
    </select>

</mapper>
