<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--当mapper接口和mapper.xml文件关联的时候，命名空间Namespace的值就需要配置成接口的全限定名称，将来我们通过mapper接口的方法名来调用sql语句-->
<mapper namespace="com.jxd.follow_sys.mapper.IStudentMapper">
    <select id="getStudents" resultType="java.util.HashMap">
        select a.*,b.* from (select s.stuname,s.sex,s.university,s.birthplace,m.* from student s left join
        (select stuid,
        <foreach collection="list" item="course" separator=",">
        sum(case when courseid = #{course.courseId} then score else 0 end) z${course.courseId}
        </foreach>
        from score
        group by stuid)m on s.stuid=m.stuid) a left join (select m.evlcontent,x.* from school_evl m join (
        select stuid
        ,sum(case when dateid=0 then jobevlcontent else 0 end) s1
        ,sum(case when dateid=1 then jobevlcontent else 0 end) s2
        ,sum(case when dateid=2 then jobevlcontent else 0 end) s3
        ,sum(case when dateid=3 then jobevlcontent else 0 end) s4
        from job_evaluation
        group by stuid) x on m.stuid=x.stuid) b on a.stuid=b.stuid
        limit #{counts},#{pageSize}
    </select>
</mapper>
